{% extends 'layout/base.html' %}

{% block title %}Xếp lớp{% endblock %}

{% block body %}
<div class="container-fluid" style="margin-top:25px;">
      <div class="d-flex" id="wrapper" style="height:100%!important">
        <!-- Sidebar -->
        <div class="bg-lightgray border-right border-left vh-100" id="sidebar-wrapper"
             style="height:80vh!important; padding:10px;">

            <div class="list-group list-group-flush overflow-auto h-100">
                <div class="sidebar-heading bg-light border text-info">
                    <span class="info">Chọn lớp</span>
                </div>

                <form>
                <div class="sidebar-heading bg-light border">
                <i class="fa fa-list"></i>Khối 12
                    <div class="flex grid-container">
                        {% for t in grade12 %}
                        <div class="site">
                        <input type="submit" class="form-control" name="class"
                               value="{{ t.grade }}-{{ t.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="sidebar-heading bg-light border">
                <i class="fa fa-list"></i>Khối 11
                    <div class="flex grid-container">
                        {% for t in grade11 %}
                        <div class="site">
                        <input type="submit" class="form-control" name="class"
                               value="{{ t.grade }}-{{ t.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="sidebar-heading bg-light border">
                <i class="fa fa-list"></i>Khối 10
                    <div class="flex grid-container">
                        {% for t in grade10 %}
                        <div class="site">
                        <input type="submit" class="form-control" name="class"
                               value="{{ t.grade }}-{{ t.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

        <div id="page-content-wrapper">
            <div class="container-fluid border" style="min-height:67vh">
                {% block content %}
                <h2 class="text-center text-info">DANH SÁCH HỌC SINH</h2>
                <hr>
                <div class="flex">
                <div class="text-primary info">Lớp đang chọn: {{ request.args.get('class') }}</div>
                <div class="text-primary info">Sỉ số:
                    {% if total %}
                    {{ total[0] }}
                    {% endif %}
                </div>
                </div>

                <br>
                <div class="container-fluid">
                    <form action="javascript:document.location.reload()">
                        <div class="input-group mb-3">
                            <input type="text" id="search"
                                   name="search"
                                   class="form-control"
                                   placeholder="Nhập từ khóa...">
                            <div class="input-group-append">
                                <button class="btn btn-success"
                                        type="submit">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                    <table id="tab" style="table-layout: fixed" width="100%"
                           class="table table-striped table-hover table-bordered table-responsive model-list bg-light">
                      <thead>
                        <tr>
                          <th class="stt">STT</th>
                          <th class="hoten">Họ tên</th>
                          <th class="a">Giới tính</th>
                          <th class="a">Năm sinh</th>
                          <th class="a">Địa chỉ</th>
                          <th class="a">Lớp hiện tại</th>
                          <th class="list-checkbox-column">
                              <input type="checkbox"
                                     name="select-all"
                                     class="select-all checkbox"
                                     title="Chọn tất cả hồ sơ">
                          </th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        {% for s in students %}
                        <tr>
                          <td>{{ students.index(s) + 1 }}</td>
                          <td class="student name">{{ s[0].first_name }} {{ s[0].last_name }}</td>
                          <td class="student sex">
                              {% if s[0].sex == True %}
                              Nam
                              {% else %}
                              Nữ
                              {% endif %}
                          </td>
                          <td class="student birthday">{{ s[0].bday.year }}</td>
                          <td class="student address">{{ s[0].address }}</td>
                          <td class="student class__room">
                              <span class="text-primary info">
                              {% if s[1] %}
                              {{ s[1].grade }}{{ s[1].name }}
                              {% else %}
                              trống
                              {% endif %}
                              </span>
                          </td>
                          <td>
                             <input type="checkbox" name="select-item"
                                    class="select-item checkbox" value="{{ s[0].id }}"
                                    title="Chọn hồ sơ">
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
<!--                    end form reload-->

                    <div class="statusbar flex justify-content-end"></div>
                    <br>
                    <div id="alert" style="display:none" ></div>
                    <div class="flex justify-content-end">
                    <button id="select-all" class="btn btn-info">Chọn tất cả/Hủy tất cả</button>
                    <button class="btn btn-info" type="submit"
                            onclick="addClass({{ class_id }})">Thêm vào lớp</button>
                    </div>
                </div>
                <div id="test"></div>
                {% endblock %}
            </div>
        </div>
      </div>
        <!-- /#page-content-wrapper -->
</div>

<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.site {
  padding: 1.25px 1.25px;
}

.text-primary {
    padding: 0 18px;
}

input[type='submit'].form-control:hover {
  background-color: lightblue;
}

h2 {
  font-weight: bold;
}

.statusbar, .info {
    font-weight: bold;
}

button {
    margin: 0 0 0 10px;
}

table {
   width: 100%;
}

.hoten {
    width: 30%;
}

.a {
   width: 18%;
}

th {
   text-align: center;
}

</style>

{% endblock %}