{% extends 'layout/base.html' %}

{% block title %} Đổi mật khẩu {% endblock %}

{% block body %}
<div class="form-change-pw" style="margin:50px auto; width:500px; height:500px;">
    <h1 class="text-center heading" style="margin-top:30px;margin-bottom:30px">Đổi mật khẩu</h1>
    {% if error_msg %}
    <script>
        $(document).ready(function() {
            alertMsg(false, '{{ error_msg }}')
        });
    </script>
    {% endif %}
    {% if success_msg %}
    <script>
        $(document).ready(function() {
            alertMsg(true, '{{ success_msg }}')
        });
    </script>
    {% endif %}
      <form method="post">
          <div class="form-group">
               <label for="n-password" style="font-weight:bold;">Mật khẩu mới:</label>
               <input type="password"
                      name="n-password"
                      class="form-control"
                      id="n-password"
                      placeholder="Nhập mật khẩu mới..." required minlength="3"/>
                      <small id="n-passwordHelp" class="text-danger" style="opacity:0">
                        Mật khẩu phải chứa từ 3 ký tự trở lên
                      </small>
          </div>
          <div class="form-group">
              <label for="c-password" style="font-weight:bold;">Xác nhận mật khẩu:</label>
              <input type="password"
                     name="c-password"
                     class="form-control"
                     id="c-password"
                     placeholder="Nhập lại mật khẩu mới..." required />
              <small id="c-passwordHelp" class="text-danger" style="opacity:0">
                    Mật khẩu không giống nhau
              </small>
          </div>

          <input type="submit" value="Thay đổi" class="btn btn-danger"/>
      </form>
</div>

<style>

.form-change-pw {
    box-shadow: 0px 2px 20px rgb(0 0 0 / 8%);
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}
</style>

{% endblock %}