{% extends 'layout/base.html' %}

{% block title %} HOME {% endblock %}

{% block body %}
<div>
    <h1 class="text-center text-primary my-md-3 site-title">HỆ THỐNG QUẢN LÝ HỌC SINH</h1>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='images/cs5.jpg') }}" alt="Los Angeles"
           style="height:500px; width:100%">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/cs1.jpg') }}" alt="Chicago"
           style="height:500px; width:100%">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/cs3.jpg') }}" alt="Chicago"
           style="height:500px; width:100%">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<!-- Phan gioi thieu -->
<div class="gioithieu container-fluid" id="gioithieu">
  <div class="content-highlight content-home">
    <h1 class="heading text-center">Vài nét về hệ thống</h1>
    <p class="note text-center">Tính năng hệ thống quản lý học sinh</p>
  </div>

  <div class="highlights-list text-center">
    <div class="row">
      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group_05d20.png"
               alt="Đầy đủ, toàn trình"
               hspace="5">
          <div class="title-highlight">Đầy đủ, toàn trình</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đầy đủ, toàn trình</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__1__0ffea.png"
               alt="Đơn giản, dễ sử dụng"
               hspace="5">
          <div class="title-highlight">Đơn giản, dễ sử dụng</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đơn giản, dễ sử dụng</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__2__0fd7a.png"
               alt="Đáp ứng quy chuẩn"
               hspace="5">
          <div class="title-highlight">Đáp ứng quy chuẩn</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đáp ứng quy chuẩn</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__3__8dd5b.png"
               alt="Tính hệ thống"
               hspace="5">
          <div class="title-highlight">Tính hệ thống</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Tính hệ thống</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__4__88898.png"
               alt="Liên tục cập nhật"
               hspace="5">
          <div class="title-highlight">Liên tục cập nhật</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Liên tục cập nhật</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__5__b80c9.png"
               alt="Công nghệ tiên tiến"
               hspace="5">
          <div class="title-highlight">Công nghệ tiên tiến</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Công nghệ tiên tiến</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<style>

div {
  display: block;
}

* {
  box-sizing: border-box;
}

.gioithieu {
  padding: 80px 0px;
}

.content-home h1.heading {
  color: #10375C;
  font-weight: 700;
  margin-top: 0;
}

.content-home .note {
    font-size: 18px;
    line-height: 1.2;
    color: #626D78;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.highlight-item {
    box-shadow: 0px 2px 20px rgb(0 0 0 / 8%);
    border-radius: 20px;
    padding: 40px 24px;
    cursor: pointer;
    background: #FFFFFF;
}

.highlight-item:hover .highlight-detail{
    display: block;
    animation: showDetail ease 0.4s;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.title-highlight {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    color: #10375C;
}

.highlight-detail {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-radius: 20px;
    padding: 40px 24px;
    color: #fff;
    display: none;
    height: 100%;
}

.highlight-detail .title-highlight{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}

p {
    margin: 0 0 10px;
    display: block;
}

@keyframes showDetail {
  from{
  opacity: 0;
  height: 0;
  }
  to{
  opacity: 1;
  height: 100%;
  }
}

</style>
{% endblock %}