{% extends 'layout/base.html' %}

{% block title %} HOME {% endblock %}

{% block body %}

<div class="welcome">
  <div class="welcome-text">
    <img width="350px" src="{{ url_for('static', filename='images/logo-white.png') }}">
    <h4>Chào mừng đến với</h4>
    <h1>Trường Trung học phổ thông OU</h1>
    <h2>OU High School</h2>
  </div>
</div>


<!-- Phan gioi thieu -->
<div class="gioithieu container-fluid" id="gioithieu">
<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="content-highlight content-home">
    <h1 class="heading text-center">Vài nét về hệ thống</h1>
    <p class="note text-center">Tính năng hệ thống quản lý học sinh</p>
  </div>

  <div class="highlights-list text-center">
    <div class="row">
      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group_05d20.png"
               alt="Đầy đủ, toàn trình"
               hspace="5">
          <div class="title-highlight">Đầy đủ, toàn trình</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đầy đủ, toàn trình</div>
            <p class="detail">
              Đầy đủ tính năng của một hệ thống quản lý học tập trực tuyến và kiểm tra, đánh giá trực tuyến cho mọi đối tượng (từ cán bộ quản lý đến giáo viên và học sinh)
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__1__0ffea.png"
               alt="Đơn giản, dễ sử dụng"
               hspace="5">
          <div class="title-highlight">Đơn giản, dễ sử dụng</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đơn giản, dễ sử dụng</div>
            <p class="detail">
              Xây dựng mô hình quản lý học sinh đầy đủ tính năng thân thiện và gần gữi với người dùng
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__2__0fd7a.png"
               alt="Đáp ứng quy chuẩn"
               hspace="5">
          <div class="title-highlight">Đáp ứng quy chuẩn</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Đáp ứng quy chuẩn</div>
            <p class="detail">
              Được thiết kế và xây dựng dựa trên các định hướng và yêu cầu, tiêu chuẩn của thầy và đề quy định
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__3__8dd5b.png"
               alt="Tính hệ thống"
               hspace="5">
          <div class="title-highlight">Tính hệ thống</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Tính hệ thống</div>
            <p class="detail">
              Cung cấp tính năng quản trị theo mô hình quản lý phân cấp rõ ràng (Quản trị, Nhân viên, Giáo viên) và đồng bộ dữ liệu với các phần mềm khác
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__4__88898.png"
               alt="Liên tục cập nhật"
               hspace="5">
          <div class="title-highlight">Liên tục cập nhật</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Liên tục cập nhật</div>
            <p class="detail">
              Hệ thống được phát triển và cải tiến liên tục, đảm bảo đáp ứng các yêu cầu thay đổi và xu hướng phát triển của ngành giáo dục
            </p>
          </div>
        </div>
      </div>

      <div class="highlight-items col-md-4 col-sm-6 mb-20">
        <div class="highlight-item">
          <img src="https://static.k12online.vn/LMS/K12/layouts/LandingpageHome/image/Group__5__b80c9.png"
               alt="Công nghệ tiên tiến"
               hspace="5">
          <div class="title-highlight">Công nghệ tiên tiến</div>
          <div class="highlight-detail bg-dark text-left">
            <div class="title-highlight">Công nghệ tiên tiến</div>
            <p class="detail">
              Hệ thống được xây dựng với công nghệ hiện đại nhất giúp tối ưu trong quá trình sử dụng và bảo mật thông tin
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<hr>
<!-- Phan danh gia -->
<div id="danhgia" class="feedback container-fluid">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <h1 class="heading text-center">Đánh giá người dùng</h1>
    <p class="note text-center">Nổi bật</p>
    <div class="feedback-slider">
      <div class="list-feedback-slide owl-carousel owl-theme">
        <div class="item">
          <div class="item-block text-left">
            <div class="item-block-top">
              <div class="post-name">Thầy Nguyễn Văn A</div>
              <i class="fa fa-commenting-o fa-4" aria-hidden="true"></i>
            </div>
            <p class="post">Hiệu trưởng</p>
            <p class="feedback-text">
              Tốt. Dễ sử dụng và rất tiện lợi.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-block text-left">
            <div class="item-block-top">
              <div class="post-name">Cô Nguyễn Thị B</div>
              <i class="fa fa-commenting-o fa-4" aria-hidden="true"></i>
            </div>
            <p class="post">Giáo viên</p>
            <p class="feedback-text">
              Hệ thống có đầy đủ chức năng hỗ trợ giáo viên nhập điểm, xem điểm.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-block text-left">
            <div class="item-block-top">
              <div class="post-name">Thầy Trần Văn C</div>
              <i class="fa fa-commenting-o fa-4" aria-hidden="true"></i>
            </div>
            <p class="post">Giáo viên</p>
            <p class="feedback-text">
              Rất tốt. Tôi rất thích .
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-block text-left">
            <div class="item-block-top">
              <div class="post-name">Cô Quách Thị D</div>
              <i class="fa fa-commenting-o fa-4" aria-hidden="true"></i>
            </div>
            <p class="post">Giáo viên</p>
            <p class="feedback-text">
              Tiện lợi và không quá khó dùng.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-block text-left">
            <div class="item-block-top">
              <div class="post-name">Thầy Lê Văn E</div>
              <i class="fa fa-commenting-o fa-4" aria-hidden="true"></i>
            </div>

            <p class="post">Nhân viên</p>
            <p class="feedback-text">
              Xếp lớp, xem thông tin lớp học dễ dàng hơn. Vote 5 sao :)).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>


<script>

$(document).ready(function() {
  $(".owl-carousel").owlCarousel({
    autoplay:true,
    smartSpeed: 3000,
    dots:false,
    margin:10,
    center: false,
    nav:true,
    loop:true,
    responsive: {
      0:{
          items:1
      },
      600:{
          items:2
      },
      1000:{
          items:3
      }
    }
  });
});
</script>
{% endblock %}