{% extends 'layout/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/out.css') }}" />
{% endblock %}

{% block title %}Xuất{% endblock %}

{% block header %}
    {% include 'layout/header_out.html' %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body %}
<div class="A4">
      <table class="table"  align="center">
         <tr align="center">
            <th colspan="5"> BẢNG ĐIỂM MÔN HỌC</th>
         </tr>

         <tr>
            <td colspan="2" >Lớp: {{ course[0] + course[1] }}</td>
            <td colspan="3" >Môn: {{ course[2] }}</td>
         </tr>
         <tr>
            <td colspan="2" >Học kỳ: {{ request.args.get('semester') }} </td>
            <td colspan="3" >Năm học: {{ course[3] }}
            </td>
         </tr>

         <tr>
             <td>STT</td>
             <td>Họ tên </td>
             <td>Điểm 15 phút</td>
             <td>Điểm 1 tiết </td>
             <td>Điểm thi </td>
         </tr>
          {% for m in marks %}
              <tr>
                  <td>{{ marks.index(m) + 1 }}</td>
                  <td class="name">{{ m.student_name }} </td>
                  <td class="marks mark15_{{ m.student_id }}">
                        {% for i in m.mark15 %}
                            {% if i %}
                                {{ i }}&nbsp;
                            {% endif %}
                        {% endfor %}
                  </td>
                  <td class="marks mark45_{{ m.student_id }}">
                        {% for i in m.mark45 %}
                            {% if i %}
                                {{ i }}&nbsp;
                            {% endif %}
                        {% endfor %}
                  </td>

                  <td class="marks" id="final_mark_{{ m.student_id }}">
                        {% if m.final_mark  %}
                            {{ m.final_mark }}
                        {% else %}

                        {% endif %}
                  </td>
             </tr>
          {% endfor %}
      </table>
</div>
{% endblock %}