{% extends 'layout/teacher-view.html' %}

{% block title %} Nhập điểm {% endblock %}

{% block content %}
<h2 class="text text-center text-primary">Chỉnh sửa điểm</h2>
    <table class="marks table table-striped table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th colspan="3">Học sinh: {{ marks[0].student.name}}</th>
                <th colspan="3">Lớp: {{ request.args.get('class_name') }}</th>
                <th colspan="3">Môn: {{ marks[0].subject.name}}</th>
                <th colspan="2">Năm: {{ request.args.get('year') }}</th>
            </tr>
            <tr>
                <td>Học kỳ</td>
                <td colspan="5">Điểm 15 phút</td>
                <td colspan="3">Điểm 1 tiết</td>
                <td>Điểm cuối kỳ</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for m in marks %}
            <tr>
                <td>{{ m.semester }}</td>
                {% for i in m.mark15 %}
                    {% if i %}
                    <td><input type="number" class="mark15_{{ m.semester }}" value="{{ i }}" min="0" max="10"></td>
                    {% else %}
                    <td><input type="number" class="mark15_{{ m.semester }}" value="" min="0" max="10"></td>
                    {% endif %}
                {% endfor %}
                {% for i in m.mark45 %}
                    {% if i %}
                    <td><input type="number" class="mark45_{{ m.semester }}" value="{{ i }}" min="0" max="10"></td>
                    {% else %}
                    <td><input type="number" class="mark45_{{ m.semester }}" value="" min="0" max="10"></td>
                    {% endif %}
                {% endfor %}
                {% if m.final_mark %}
                <td><input type="number" id="final_mark{{ m.semester }}" value="{{ m.final_mark }}" min="0" max="10"></td>
                {% else %}
                <td><input type="number" id="final_mark{{ m.semester }}" value="" min="0" max="10"></td>
                {% endif %}
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button class="btn btn-info " type="submit"
            onclick="updateMarks({{ marks[0].subject.id}},
                                {{ marks[0].student.id}},
                                {{ request.args.get('year') }})">Lưu</button>
    </div>

    <div id="alert" style="display:none" > Lưu thành công </div>
{% endblock %}