{% extends 'layout/teacher-view.html' %}

{% block title %} Nhập điểm {% endblock %}

{% block content %}
    {% if course %}
        <h1 class="text text-center">Nhập điểm cho học sinh</h1>
    <table class="student_marks table table-striped table-hover table-responsive table-bordered bg-light">
        <thead>
            <tr class="info text-center" style="font-size: 20px">
                <th colspan="13"> Bảng điểm môn học</th>
            </tr>
            <tr>
                <th colspan="6">Lớp: {{ course[0] + course[1] }}</th>
                <th colspan="7">Môn: {{ course[2]}}</th>
            </tr>
            <tr>
                 <th colspan="6">Học kỳ:
                    <select id="semester" name="semester" onchange="loadMarks({{ request.args.get('course_id') }})">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </th>
                <th colspan="7" id="year">Năm: {{ course[3] }}</th>
            </tr>
            <tr class="text-center" style="font-weight:bold;">
                <td>STT</td>
                <td>Họ và tên</td>
                <td colspan="5">Điểm 15 phút</td>
                <td colspan="3">Điểm 1 tiết</td>
                <td>Điểm Cuối kỳ</td>
                <td>Điểm TB môn</td>
                <td>Chỉnh sửa</td>
            </tr>
        </thead>
        <tbody>
            {% for m in marks %}
            <tr id="{{ m.student_id }}">
                <td>{{ marks.index(m) + 1 }}</td>
                <td class="name">{{ m.student_name }}</td>
                {% for i in m.mark15 %}
                    {% if i %}
                    <td class="mark15_{{ m.student_id }}">{{ i }}</td>
                    {% else %}
                    <td class="mark15_{{ m.student_id }}"></td>
                    {% endif %}
                {% endfor %}
                {% for i in m.mark45 %}
                    {% if i %}
                    <td class="mark45_{{ m.student_id }}">{{ i }}</td>
                    {% else %}
                    <td class="mark45_{{ m.student_id }}"></td>
                    {% endif %}
                {% endfor %}
                {% if m.final_mark  %}
                <td id="final_mark_{{ m.student_id }}">{{ m.final_mark }}</td>
                {% else %}
                <td id="final_mark_{{ m.student_id }}"></td>
                {% endif %}
                {% if m.avg_mark %}
                <td id="avg_mark_{{ m.student_id }}">{{ m.avg_mark }}</td>
                {% else %}
                <td id="avg_mark_{{ m.student_id }}"></td>
                {% endif %}
                <td>
                    <a href="{{ url_for('edit_marks',
                      student_id=m.student_id,
                      subject_id=m.subject_id,
                      year=course[3],
                      class_name=course[0] + course[1],
                      subject_name=course[2]) }}" title="Chỉnh sửa điểm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="row">
        <div class="col-md-7">
            <h4 class="bg-lightgray text-info text-center">Thông báo</h4>
            <hr>
            <div class="border" style="height: 54vh">
                {% block announce %}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-5 border high-div">
            <h3 class="bg-lightgray text text-center">Hướng dẫn sử dụng</h3>
            <div class="border" style="padding:15px 0 0 15px">
                <p class="guide">1. Chọn lớp để xem toàn bộ bảng điểm của các học sinh trong lớp</p>
                <p class="guide">2. Chọn thay đổi học kỳ trên bảng điểm để xem điểm học kỳ khác</p>
                <p class="guide">3. Chọn biểu tượng cây bút để chỉnh sửa điểm cho 1 học sinh</p>
                <p class="guide">4. Nhập điểm và chọn lưu</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}