{% extends 'layout/sidebar-view.html' %}

{% block title %} Nhập điểm {% endblock %}

{% block content %}
    {% if course %}
        <h1 class="text text-center">Nhập điểm cho học sinh</h1>
    <table class="student_marks table table-striped table-hover table-responsive table-bordered bg-light">
        <thead>
            <tr class="info text-center" style="font-size: 20px">
                <th colspan="12"> Bảng điểm môn học</th>
            </tr>
            <tr>
                <th colspan="6">Lớp: {{ course[0] + course[1] }}</th>
                <th colspan="6">Môn: {{ course[2]}}</th>
            </tr>
            <tr>
                 <th colspan="6">Học kỳ:
                    <select id="semester" name="semester" onchange="loadMarks({{ request.args.get('course_id') }})">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                    </select>
                </th>
                <th colspan="6" id="year">Năm: {{ course[3] }}</th>
            </tr>
            <tr class="text-center" style="font-weight:bold;">
                <td>STT</td>
                <td>Họ và tên</td>
                <td colspan="5">Điểm 15 phút</td>
                <td colspan="3">Điểm 1 tiết</td>
                <td>Điểm Cuối kỳ</td>
                <td>Điểm TB môn</td>
                {% if current_user.user_role == UserRole.TEACHER %}
                <td>Chỉnh sửa</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for m in marks %}
            <tr id="{{ m.student_id }}">
                <td>{{ marks.index(m) + 1 }}</td>
                <td class="name">{{ m.student_name }}</td>
                {% for i in m.mark15 %}
                    {% if i %}
                    <td class="mark15_{{ m.student_id }}">{{ i }}</td>
                    {% else %}
                    <td class="mark15_{{ m.student_id }}"></td>
                    {% endif %}
                {% endfor %}
                {% for i in m.mark45 %}
                    {% if i %}
                    <td class="mark45_{{ m.student_id }}">{{ i }}</td>
                    {% else %}
                    <td class="mark45_{{ m.student_id }}"></td>
                    {% endif %}
                {% endfor %}
                {% if m.final_mark  %}
                <td id="final_mark_{{ m.student_id }}">{{ m.final_mark }}</td>
                {% else %}
                <td id="final_mark_{{ m.student_id }}"></td>
                {% endif %}
                {% if m.avg_mark %}
                <td id="avg_mark_{{ m.student_id }}">{{ m.avg_mark }}</td>
                {% else %}
                <td id="avg_mark_{{ m.student_id }}"></td>
                {% endif %}
                {% if current_user.user_role == UserRole.TEACHER %}
                <td>
                    <a href="{{ url_for('edit_marks',
                      student_id=m.student_id,
                      subject_id=m.subject_id,
                      year=course[3],
                      class_name=course[0] + course[1],
                      subject_name=course[2]) }}" title="Chỉnh sửa điểm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-content-end">
        <button class="btn btn-info"
                onclick="out_marks({{request.args.get('course_id')}})">Xuất bảng điểm theo học kỳ</button>

    </div>
    <div class="flex justify-content-end">
        <a href="{{ url_for('out_total_mark', course_id=request.args.get('course_id')) }}" title="Xuất điểm cả năm">
            <button class="btn btn-info">Xuất bảng điểm trung bình theo năm</button>
        </a>
    </div>

    {% else %}
        <div>
            <h4 class="bg-lightgray text-info text-center">Thông báo</h4>
            <hr>
            <div class="border" style="height: 54vh">
                {% block announce %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}