{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center"> Thay Đổi Quy Định</h1>
<hr>
<br>
<div class="container" >
    <div class="row">
        <div class="col-md-4" style="margin:0 auto;">
            <form method="POST" action="{{url_for('change_rule')}}">
              <div class="form-group">
                <label for="min-age">Tuổi tối thiểu</label>
                <input type="number" class="form-control" name="min-age" id="min-age" value="{{min_age}}" required>
              </div>
              <div class="form-group">
                <label for="max-age">Tuổi tối đa</label>
                <input type="number" class="form-control" name="max-age" id="max-age" value="{{max_age}}" required>
              </div>
              <div class="form-group">
                <label for="max-size">Sĩ số tối đa</label>
                <input type="number" class="form-control" name="max-size" id="max-size" value="{{max_size}}" required>
              </div>
              <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}