{% extends 'layout/master.html' %}

{% block body %}
<h1 class="text-center">Danh sách học sinh
    <span class="text-danger">{{ classroom.grade }}{{ classroom.name }}</span></h1>

<div class="container">
  {% if students %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mã học sinh</th>
        <th>Họ và tên</th>
        <th>Điểm TB</th>
        <th>Kết quả</th>
      </tr>
    </thead>
    <tbody>
      {% for s in students %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.first_name }} {{ s.last_name }}</td>
        <td>{{ avg }}</td>
        <td> #
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}