<div class="container-fluid p-3 my-3 bg-dark text-white">
    <div id="lienhe">
        <div class="site-logo text-center py-4">
            <a href="/">Hệ thống quản lý học sinh Trường THTP OU</a>
        </div>
        <div class="social text-center">
            <h5 class="text-uppercase">CONTACT US</h5>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
        </div>
        <div class="copyrights text-center">
            <p class="para">
                &copy;2021 Trường THPT OU</a>
            </p>
        </div>
    </div>
</div>

<style>

.social a > i {
    font-size:25px;
    padding: 2rem;
    color: gray;
}

.social a:hover > i{
    color: white;
}

</style>